@font-face {
  font-family: "OutfitBold";
  src: url(./assets/fonts/outfit/static/Outfit-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "OutfitRegular";
  src: url(./assets/fonts/outfit/static/Outfit-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "OutfitSemi";
  src: url(./assets/fonts/outfit/static/Outfit-SemiBold.ttf) format("truetype");
}

body{
  background-color: hsl(30, 54%, 90%);
  display: flex;
  flex-flow:column; 
}

.card{
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 44rem;  
  align-items:center;
  display:block;
  margin:auto; 
  margin-top: 28rem; 
  margin-bottom: 20rem; 
  text-align:left;
  border-radius: 1rem; 
}

img{
  object-fit:contain; 
  width: 40rem; 
  border-radius: 20px; 
}

.imgContain{
  text-align:center; 
  margin-top:2rem; 
}

.title{ 
  font-size: 40px;
  margin-left: 2rem; 
  color: hsl(24, 5%, 18%);
  margin-bottom: 1rem; 
  font-family:"OutfitBold"; 
}

.subtitle{
  margin-left: 2rem; 
  color: hsl(30, 10%, 34%);  
  font-family:"OutfitRegular"; 
}
.prep{
background-color: hsl(330, 100%, 98%);
width: 40rem; 
text-align:left; 
margin-left: 2rem; 
border-radius: 1rem; 
padding-top:1rem; 
padding-bottom:1rem; 
}
.prepTitle{
  margin-left: 2rem; 
  margin-bottom: 0 ;
  color: rgb(139, 25, 124);
  font-family:"OutfitSemi"; 
}

.prep ul{
  margin-left: 1rem; 
  line-height: 2rem; 
  margin-top: 0;
  color: hsl(30, 10%, 34%); 
  font-family:"OutfitRegular"; 
}

.prep li::marker{
  color: rgb(139, 25, 124);
}

.prep li{
  padding-left:1rem; 
}

br{
  line-height:1rem; 
}

.ingredients{
  margin-left:2rem; 
}

.ingredients h2{
  color:rgb(139, 68, 1);
  font-family:"OutfitSemi"; 
}

.ingredients ul{
  margin-left:0; 
  line-height: 2rem; 
  margin-top: 0;
  color: hsl(30, 10%, 34%); 
  font-family:"OutfitRegular"; 
}

.ingredients li::marker{
  color:rgb(139, 68, 1);
}

.ingredients li{
  padding-left:1rem; 
}

hr{
  width: 37rem;  
}

.instructions{
  margin-left:2rem; 
}

.instructions h2{
  color:rgb(139, 68, 1);
  font-family:"OutfitSemi"; 
}

.instructions ol{
  margin-left:0; 
  line-height: 2rem; 
  margin-top: 0;
  color: hsl(30, 10%, 34%); 
  font-family:"OutfitRegular"; 
}

.instructions li{
  padding-left:1rem; 
}


.instructions li::marker{
  color:rgb(139, 68, 1);
  font-weight: bold; 
}


.nutrition h2{
  color:rgb(139, 68, 1);
  margin-left:2rem; 
  font-family:"OutfitSemi"; 
}

.nutrition ul{
  list-style-type: none;
  line-height:.5rem; 
  margin-top: 0; 
  margin-left:2rem; 
  font-family:"OutfitRegular"; 
  
}

.nutrition li{
  display:flex;
  align-items:center; 
  margin-left:2rem; 
}

.ing{
  color: hsl(30, 10%, 34%); 
  margin-right: 17rem; 
  width: 1rem; 
}

.cal{
  color:rgb(139, 68, 1); 
  width: 3rem;
}

.nSub{
  color: hsl(30, 10%, 34%); 
  margin-bottom:0; 
  margin-left:2rem; 
  font-family:"OutfitRegular"; 
}
